.body {
    background: #F9F9F9;
}

.Name {
    display: flex;
    padding-left: 50px;
}

.bg-body-tertiary {
    display: flex;
    /* gap: 30px; */
    padding-left: 50px;
    padding-right: 50px;
}

.Landing {
    display: flex;
}

form {
    background: whitesmoke;
    width: 400px;
    height: 55px;
    display: flex;
    border-radius: 50px;
}

form input {
    flex: 1;
    border: none;
    outline: none;
}

form button {
    background: #8DC63E;
    padding: 10px 50px;
    border: none;
    outline: none;
    /* color: #fff; */
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 50px;
    /* width: 200px; */
}

form .fa-search {
    align-self: center;
    padding: 10px 20px;
    /* color: #777;   */
}

.secondface {
    display: flex;
    gap: 340px;
    padding-left: 100px;
    padding-top: 50px;
}

.Png1 img{
    width: 500px;
    height: 580px;
    /* top: 189px; */
    left: 90000px;
    /* padding: 0px, 60px, 0px, 0px; */
    border-radius: 200px
}

.secondword{

}